@{ ViewData["Title"] = "Pocetna"; }



<style>
    body {
        background-image: url('https://consorcioszk.com.br/storage/app/uploads/public/5d6/695/72a/5d669572ad24a461810028.jpg');
    }
</style>



<style>
    h1 {
        position: relative;
        text-align: center;
        height: 100px;
    }

    p {
        text-align: center;
    }

    div {
        text-align: center;
        height: 30px;
    }
</style>

<h1>
    <font color="#696969">
        Hiking Adventures
    </font>
</h1>




<p style="font-family:verdana">
    <font color="#696969">
        <i>  " The very basic core of a man’s living spirit is his passion for adventure. The joy of life comes from our encounters with new experiences, and hence there is no greater joy than to have an endlessly changing horizon, for each day to have a new and different sun.” </i>
    </font>
</p>


<font color="#696969">
    <p style="text-align:right;"> -Jon Krakauer, Into the Wild</p>

</font>


<div>

    <form asp-controller="Rute" asp-action="Index" method="get">

        <p>
            <input type="text" name="Pronađi avanturu" />
            <input type="submit" value="search" />
        </p>
    </form>
</div>

<font>
    <p style="text-align:center;"> </p>

</font>


<div style="width:100%;">
    <div style="display:inline-block;float:left;width:600px;">
        <iframe style="width:100%" height="340" src="https://www.youtube.com/embed/p55441MfW0Q?autoplay=1&mute=1"></iframe>
    </div>

</div>

    <div style="width:100%;">

        <div style="float:right;width:70px;">

            <a href="https://hikingguy.com/best-hiking-gear/" target="_blank">Šta ponijeti?
                                    
                <big><big><big><big>&#8601;</big></big></big></big>
</a>
            

        </div>

    </div>




