@model IEnumerable<Hiking_Adventure.Models.Ruta>

@{
    ViewData["Title"] = "Rute";
}

<h1>Rute</h1>


<font color="#F5F5F5">
    Pronađi svoju sljedeću avanturu!

</font>
<div>

    <form asp-controller="Rute" asp-action="Index" method="get">

        <p>
            <input type="text" name="Pronađi avanturu" />
            <input type="submit" value="search" />
        </p>
    </form>




</div>

<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazivRute)
            </td>
            <td>

            <a class="text-dark" asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
            <a class="text-dark" asp-controller="PrijavaRute" asp-action="Create">Prijavi se!</a>


            </td>
        </tr>
        }
    </tbody>
</table>


