@{
    ViewData["Title"] = "Home Page";
}



<style>
    body {
        background-image: url('https://i.pinimg.com/originals/7c/2d/42/7c2d42a4eaa69e8e4a5b3400b6fc3866.jpg');
    }
</style>



<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    div {
        text-align: center;
    }
</style>
<div id="container">
    <h1>Hiking Adventure</h1>
</div>






